{{- $position := .position -}}
{{- $title := .title -}}
{{- with .data -}}
  <section class="block-chapter" id="block-{{ $position }}">
    <div class="container">
      <div>
        {{- if $title }}
          <h2>{{ partial "PrepareHTML" $title }}</h2>
        {{ end -}}
        {{ if (partial "GetTextFromHTML" .text) }}
        <div>
          {{- partial "PrepareHTML" .text -}}
        </div>
        {{ end -}}
        {{ if .notes }}
          <div class="notes">
            {{ partial "PrepareHTML" .notes }}
          </div>
        {{ end }}
      </div>
    </div>
  </section>
{{- end -}}
