{{- $position := .position -}}
{{- $title := .title -}}
{{- with .data -}}
  <section class="block-definitions" id="block-{{ $position }}">
    <div class="container">
      <div class="block-content">
        {{- if $title }}
          <div class="top">
            <h2>{{ partial "PrepareHTML" $title }}</h2>
          </div>
        {{ end -}}
        <dl>
          {{- range . }}
            <dt>{{ .title }}</dt>
            <dd>{{ .text }}</dd>
          {{ end -}}
        </dl>
      </div>
    </div>
  </section>
{{- end -}}
