{{- $position := .position -}}
{{- $title := .title -}}
{{- with .data -}}
  <section class="block-files" id="block-{{ $position }}">
    <div class="container">
      <div class="block-content">
        {{- if $title }}
          <div class="top">
            <h2>{{ partial "PrepareHTML" $title }}</h2>
          </div>
        {{ end -}}
        <ul>
          {{- range .files }}
            {{- $file := partial "GetMedia" .id -}}
            {{ if $file }}
              <li>
                {{- $title := .title -}}
                {{- if (not $title) }}
                  {{ $title = $file.filename }}
                {{ end -}}
                {{ if $file }}
                  <a href="{{ $file.url }}" download target="_blank">{{ $title }} ({{ partial "GetHumanSize" $file.size }})</a>
                {{ end }}
              </li>
            {{ end -}}
          {{ end -}}
        </ul>
      </div>
    </div>
  </section>
{{- end -}}
