{{- $position := .position -}}
{{- $title := .title -}}
{{- with .data -}}c
  <section class="block-gallery" id="block-{{ $position }}">
    <div class="container">
      <div class="block-content">
        {{- if $title }}
          <div class="top">
            <h2>{{ partial "PrepareHTML" $title }}</h2>
          </div>
        {{ end -}}
        <div class="gallery">
          {{ range .images }}
          {{ if .file }}
            {{- $image := partial "GetMedia" .file -}}
            {{- if $image -}}
              {{- $url := $image.url -}}
              {{- if site.Params.keycdn -}}
                {{- $url = $image.direct_url -}}
              {{- end -}}
              {{- $default := "1280x2560" -}}
              <figure>
                  <a class="glightbox"
                    data-glightbox="type: image;{{ if .text }} title:{{ partial "GetTextFromHTML" .alt }}; description:{{ partial "GetTextFromHTML" .text }};{{ end }}"
                    href="{{ partial "GetImageUrl" (dict "url" $url "size" $default ) }}">
                    {{ partial "commons/image.html"
                      (dict
                        "image"    .file
                        "alt"      .alt
                        "mobile"   "164"
                        "tablet"   "336"
                        "desktop"  "416"
                      )}}
                  </a>
                {{ end }}
                <figcaption>{{ partial "PrepareHTML" .alt }}</figcaption>
              </figure>
            {{- end -}}
          {{ end }}
        </div>
      </div>
    </div>
  </section>
{{- end -}}
