{{- $position := .position -}}
{{- $title := .title -}}
{{- with .data -}}
  {{- $buttons := and .button.text .button_secondary.text -}}
  <section class="block-image{{ if $title }} block-with-title{{ end }}" id="block-{{ $position }}">
    <div class="container">
      <div class="block-content">
          <div>
            {{- if $title }}
            {{ end -}}
          </div>

        {{- with .image -}}
          <figure>
            {{ partial "commons/image.html"
              (dict
                "image"    .
                "alt"      .alt
                "mobile"   "480x850"
                "tablet"   "768x1360"
                "desktop"  "1024x1820"
              )}}
              <figcaption>
                {{- if $title }}
                  <p>{{ partial "PrepareHTML" $title }}</p>
                {{ end -}}
                {{- if partial "PrepareHTML" .credit }}
                  <p><small>{{ partial "PrepareHTML" .credit }}</small></p>
                {{ end -}}
              </figcaption>
          </figure>
        {{- end -}}

      </div>
    </div>
  </section>
{{- end -}}
