{{ $position := .position }}
<section class="block-posts">
  {{ if .title }}
    <div class="top">
      <h2 id="block-{{ $position }}">{{ partial "PrepareHTML" .title }}</h2>
    </div>
  {{ end }}

  {{ with .data }}
    <div class="posts">
      {{ $posts := where site.RegularPages "Type" "posts" }}
      {{ range .posts }}
        {{ range where $posts "Params.slug" . }}
          <div>
            {{ partial "posts/post" . }}
          </div>
        {{ end }}
      {{ end }}
    </div>
  {{ end }}
</section>
