{{ $position := .position }}
<section class="block-testimonials">
  {{ if .title }}
    <h2 id="block-{{ $position }}">{{ partial "PrepareHTML" .title }}</h2>
  {{ end }}
  <div class="testimonials">
    {{ range .data.testimonials }}
      <figure>
        <blockquote>
          {{- .text -}}
        </blockquote>
        <figcaption>
          {{ if .photo }}
            <div class="avatar">
              {{- partial "commons/image.html"
                    (dict
                      "image"    .photo
                      "alt"      .author
                      "mobile"   "192x192"
                      "tablet"   "192x192"
                      "desktop"  "192x192"
                    ) -}}
            </div>
          {{ end }}
          <span>
            <b>{{ .author }}</b><br>
            {{ .job }}
          </span>
        </figcaption>
      </figure>
    {{ end }}
  </div>
</section>
