{{ $position := .position }}
<section class="block block-testimonials">
  <h2 id="block-{{ $position }}">{{ partial "PrepareHTML" .title }}</h2>
  <div class="testimonials">
    {{ range .data.testimonials }}
      <div>
        <p class="lead">
          {{ .text }}
        </p>

        {{ if .photo }}
          {{- partial "commons/image.html"
                (dict
                  "image"    .photo
                  "alt"      .author
                  "mobile"   "351x291"
                  "tablet"   "334x167"
                  "desktop"  "634x317"
                ) -}}
        {{ end }}
        <p>
          <b>{{ .author }}</b><br>
          {{ .job }}
        </p>
      </div>
    {{ end }}
  </div>
</section>
