<article class="card card-category">
  <div class="card-media">
    {{- if .Params.image -}}
      {{- partial "commons/image.html"
            (dict
              "image"    .Params.image
              "alt"      .Title
              "mobile"   "351x291"
              "tablet"   "334x167"
              "desktop"  "634x317"
            ) -}}
    {{- else -}}
      {{- partial "commons/image-default.html" (dict "class" "img-fluid") -}}
    {{- end -}}
  </div>
  <div class="card-body">
    <p class="card-title">{{ safeHTML (partial "CorrectPunctuation" .Title) }}</p>
    <a href="{{ .Permalink }}" class="stretched-link link">{{ i18n "commons.more" }}</a>
  </div>
</article>
