<article class="organization">
  <div class="media">
    {{- if .Params.logo -}}
      {{- partial "commons/image.html"
            (dict
              "image"    .Params.logo
              "alt"      .Title
              "mobile"   "351x291"
              "tablet"   "334x167"
              "desktop"  "634x317"
              "class"    "img-fluid"
            ) -}}
    {{- end -}}
  </div>
  <div>
    {{ $title := safeHTML (partial "CorrectPunctuation" .Title) }}
    <p class="title"><a href="{{ .Permalink }}">{{ $title }}</a></p>
  </div>
</article>
