<article class="card card--volume">
  <div class="card-media">
    {{- if .Params.image -}}
      {{- partial "commons/image.html"
            (dict
              "image"    .Params.image
              "alt"      .Title
              "mobile"   "375x450"
              "tablet"   "334x167"
              "desktop"  "634x317"
            ) -}}
    {{- else -}}
      <picture>
        <img class="img-fluid" alt="" loading="lazy" src="/assets/images/default.jpg" width="1004" height="502">
      </picture>
    {{- end -}}
  </div>
  <div class="card-body">
    <p class="card-subtitle">{{ i18n "volumes.volume_number" (dict "Number" .Params.Number) }}</p>
    <p class="card-title">{{ safeHTML (partial "CorrectPunctuation" .Title) }}</p>
    <a href="{{ .Permalink }}" class="stretched-link link link--more">{{ i18n "commons.more" }}</a>
  </div>
</article>
