<article class="card card--volume">
  <div class="card-media">
    {{- if .Params.image -}}
      {{- partial "commons/image.html"
            (dict
              "image"    .Params.image
              "alt"      .Title
              "mobile"   "327x388"
              "tablet"   "208x247"
              "desktop"  "408x485"
            ) -}}
    {{- else if site.Params.default_image.url -}}
      {{- partial "commons/image-default.html" (dict "class" "img-fluid") -}}
    {{- end -}}
  </div>
  <div class="card-body">
    <p class="card-subtitle">{{ i18n "volumes.volume_number" (dict "Number" .Params.Number) }}</p>
    <p class="card-title">{{ safeHTML (partial "CorrectPunctuation" .Title) }}</p>
    <a href="{{ .Permalink }}" class="stretched-link link">{{ i18n "commons.more" }}</a>
  </div>
</article>
