{{ define "main" }}
  {{- partial "header/hero.html"
        (dict
          "title" .Title
          "context" .
        ) -}}

  <div class="container">
    {{ $content := safeHTML (partial "CorrectPunctuation" .Content) }}
    {{ $content = trim $content "\n" }}
    {{ if $content }}
      <div class="row mb-5">
        <div class="col-md-8">
          {{ $content }}
        </div>
      </div>
    {{ end }}
    <div class="posts">
      {{ if not .Pages }}
        <p>{{ i18n "categories.no_post" }}</p>
      {{ end }}
      {{ range .Paginator.Pages }}
        <div>
          {{ partial "posts/post.html" . }}
        </div>
      {{ end }}
    </div>
    {{ partial "commons/pagination.html" . }}
  </div>
{{ end }}
