{{ define "main" }}
  {{- partial "header/hero.html"
        (dict
          "title" .Title
          "image" .Params.image
          "context" .
        ) -}}
  {{- $category := site.GetPage (printf "/categories%s" .Params.category) -}}
  <div class="container">
    <div class="content">
      {{ $h2s := partial "H2Extract" .Content }}
      {{ if or (or $category .Pages) $h2s }}
      <aside>
        <ul class="nav toc" id="nav-toc">
          {{ if not $h2s }}
            <li class="nav-item"><a class="nav-link" href="#page-informations">{{ i18n "pages.informations" }}</a></li>
          {{ end }}
          {{ range $index, $h2 := $h2s }}
            <li class="nav-item"><a class="nav-link" href="#page-h2-{{$index}}">{{ plainify $h2 }}</a></li>
          {{ end }}
          {{ if .Pages }}
            <li class="nav-item"><a class="nav-link" href="#page-children">{{ i18n "pages.details" }}</a></li>
          {{ end }}
          {{ if $category }}
            <li class="nav-item"><a class="nav-link" href="#page-posts">{{ i18n "pages.posts" }}</a></li>
          {{ end }}
        </ul>
      </aside>
      {{ end }}

      <div>
        {{ if .Params.image }}
          {{ partial "commons/image.html"
                (dict
                  "image"    .Params.image
                  "class"    "img-fluid mb-4"
                  "mobile"   "351x168"
                  "tablet"   "456x219"
                  "desktop"  "856x410"
                  "itemprop" true
                )}}
        {{ end }}
        <div itemprop="articleBody" id="page-informations">
          {{
            safeHTML (
              partial "CorrectPunctuation" (
                partial "H2AddId" .Content
              )
            )
          }}

          {{ if .Pages }}
            <section>
              <div class="top">
                <h2 id="page-children">{{ i18n "pages.details" }}</h2>
              </div>
              <div class="pages">
                {{ range sort .Pages ".Params.position"  }}
                  <div>
                    {{ partial "pages/page.html" . }}
                  </div>
                {{ end }}
              </div>
            </section>
          {{ end }}

          {{ partial "posts/related.html" $category }}
        </div>
      </div>
    </div>
  </div>
{{ end }}
