.block-gallery
    .gallery
        --bs-gutter-y: 2rem
        @extend .row
        > *
            @extend .col-md-6
            @extend .col-lg-4

    figure
        margin-bottom: 0
        > a,
        > picture
            @extend .figure-img
            display: block

        > a
            transition: opacity .3s ease
            &:hover
                opacity: .7

        img
            height: auto
            width: 100%

        figcaption
            &,
            p
                @extend .small
            p
                margin-bottom: 0
