<article class="person">
  <div class="avatar">
    {{ if .Params.image }}
      {{ partial "commons/image.html"
            (dict
              "alt"    .Title
              "image"    .Params.image
              "class"    "img-fluid"
              "mobile"   "100x100"
              "tablet"   "152x152"
              "desktop"  "152x152"
            )}}
    {{ end }}
  </div>
  <div>
    <p class="name">{{ safeHTML .Title }}</p>
    {{ if .Content }}
      <p>{{- truncate 120 (plainify .Content) -}}</p>
    {{ end }}
    <a href="{{ .Permalink }}" class="link">{{ i18n "commons.more" }}</a>
  </div>
</article>
