<article class="person">
  <div class="avatar">
    {{ if .Params.image }}
      {{ partial "commons/image.html"
            (dict
              "alt"    .Title
              "image"    .Params.image
              "class"    "img-fluid"
              "mobile"   "100x100"
              "tablet"   "152x152"
              "desktop"  "152x152"
            )}}
    {{ end }}
  </div>
  <div>
    <p class="name"><a href="{{ .Permalink }}" aria-label="{{ i18n "commons.more_aria" (dict "Title" .Title) }}">{{ safeHTML .Title }}</a></p>
    {{ if (partial "GetTextFromHTML" .Content) }}
      <p>{{- truncate 120 (safeHTML (plainify .Content)) -}}</p>
    {{ end }}
  </div>
</article>
