{{ define "main" }}
  {{- partial "header/hero.html"
        (dict
          "title" .Title
          "image" .Params.image
          "context" .
        ) -}}
  <div class="container">
    <ul class="list-inline text-end mb-5">
      {{ range $name, $t := .Site.Taxonomies }}
        {{ if ne $name "categories" }}
          {{- with $.Site.GetPage "taxonomyTerm" $name}}
            {{ if .Pages }}
              <li class="list-inline-item">
                <a href="{{ .Permalink }}" class="link link-more">{{ .Title }}</a>
              </li>
            {{ end }}
          {{ end -}}
        {{ end }}
      {{ end }}
    </ul>
    <div class="authors">
      {{ range .Paginator.Pages.ByParam "last_name" }}
        <div>
          {{ partial "persons/person.html" . }}
        </div>
      {{ end }}
    </div>
    {{ partial "commons/pagination.html" . }}
  </div>
{{ end }}
