{{ define "main" }}
  {{- partial "header/hero.html"
        (dict
          "title" .Title
          "context" .
        ) -}}
  {{ $slug := .Slug }}
  <div class="container">

    {{ $slug := .Slug }}

    <div class="row mb-6">
      {{ if .Content }}
        <div class="col-md-8">
          <p class="lead">
            <em>
              {{ safeHTML (partial "CorrectPunctuation" .Content) }}
            </em>
          </p>
        </div>
        <div class="col-md-4">
          {{ $slug := .Slug }}
          {{ range (index site.Taxonomies.teachers $slug) }}
            <p>
              {{ safeHTML (index .Params.teachers_description $slug)}}
            </p>
            <a href="{{ .Permalink }}" class="link link--more">{{ safeHTML .Title }}</a>
          {{ end }}
        </div>
        {{ end }}
        <div class="col-md-4">
          Cheffe de département
          <a href="#" class="link link--more">BUT Métiers du Multimédia et de l'Internet</a>
        </div>
    </div>

    <section class="mb-6">
      <div class="top">
        <h2>Enseignements</h2>
      </div>
      <ul class="list">
        <li>
          <div>
            <p>Théories de l'information, cyber-sécurité</p>
          </div>
          <div>
            <a href="#" class="link link--more">BUT Métiers du Multimédia et de l'Internet</a>
          </div>
        </li>
        <li>
          <div>
            <p>La transition numérique à l’épreuve du cyberharcèlement : des violences en ligne aux stratégies de résilience</p>
          </div>
          <div>
            <a href="#" class="link link--more">BUT Métiers du Multimédia et de l'Internet</a>
          </div>
        </li>
      </ul>
    </section>

    {{ if in .Params.roles "teacher" }}
      <h2>Enseignements</h2>
      {{ range (index site.Taxonomies.teachers $slug) }}
        <p>
          {{ safeHTML (index .Params.teachers_description $slug)}}
        </p>
        <a href="{{ .Permalink }}" class="link link--more">{{ safeHTML .Title }}</a>
      {{ end }}
    {{ end }}

    {{ if in .Params.roles "author" }}
    <a href="actualites/">Actualités</a>
    {{ end }}

    {{ if in .Params.roles "administrator" }}
    <a href="administration/">Charges administratives</a>
    {{ end }}
    {{ if in .Params.roles "researcher" }}
    <a href="publications/">Publications scientifiques</a>
    {{ end }}
  </div>
{{ end }}
