{{ define "main" }}
  {{ $slug := .Slug }}
  {{ $programsForTeacher := slice }}
  {{ if isset site.Taxonomies "teachers" }}
    {{ $programsForTeacher = index site.Taxonomies.teachers $slug}}
  {{ end }}
  {{ $programsForAdministrator := slice }}
  {{ if isset site.Taxonomies "administrators" }}
    {{ $programsForAdministrator = index site.Taxonomies.administrators $slug}}
  {{ end }}
  {{ $programsForTeacherAndAdministrator := union $programsForTeacher $programsForAdministrator }}
  {{ $articlesForResearcher := slice }}
  {{ if isset site.Taxonomies "researchers" }}
    {{ $articlesForResearcher = index site.Taxonomies.researchers $slug}}
  {{ end }}
  {{ $author := site.GetPage (printf "/authors/%s" $slug) }}
  <header class="hero">
    <div class="container">
      <div class="row align-items-end">
        <div class="col-md-10">
          <h1>{{ safeHTML (partial "CorrectPunctuation" .Title) }}</h1>
        </div>
        <div class="col-4 col-md-2 mb-4 mb-md-0">
          {{ if .Params.image }}
            <div class="avatar">
              {{ partial "commons/image.html"
                    (dict
                      "alt"    .Title
                      "image"    .Params.image
                      "class"    "img-fluid"
                      "mobile"   "202x202"
                      "tablet"   "192x192"
                      "desktop"  "196x196"
                    )}}
            </div>
          {{ end }}
        </div>
      </div>
      <div class="hero__nav">
        {{ partial "header/breadcrumbs.html" (dict "context" .) }}
      </div>
    </div>
  </header>
  <div class="container">
    <div class="row mb-5">
      {{ if .Content }}
        <div class="col-md-8">
          <p class="lead">
            <em>
              {{ safeHTML (partial "CorrectPunctuation" .Content) }}
            </em>
          </p>
        </div>
        <div class="col-md-4 text-md-end">
          {{ range $programsForTeacherAndAdministrator }}
            {{ $program := . }}
            {{ range .Params.roles }}
              {{ $role := .title }}
              {{ if in .persons $slug }}
                {{ safeHTML $role }}
                <a href="{{ $program.Permalink }}" class="link link--more">{{ safeHTML $program.Title }}</a>
              {{ end }}
            {{ end }}
          {{ end }}
        </div>
        {{ end }}
    </div>

    {{ if $programsForTeacher }}
      <section class="mb-5">
        <div class="top">
          <h2>{{ i18n "persons.programs" }}</h2>
        </div>
        <ul class="list">
          {{ range $programsForTeacher }}
          <li>
            <div>
              <p>{{ safeHTML (index .Params.teachers_description $slug) }}</p>
            </div>
            <div>
              <a href="{{ .Permalink }}" class="link link--more">{{ safeHTML .Title }}</a>
            </div>
          </li>
          {{ end }}
        </ul>
      </section>
    {{ end }}

    {{ if $author.Pages }}
      <section class="mb-5">
        <div class="top">
          <h2>{{ i18n "persons.posts" }}</h2>
          <a href="actualites/" class="link link--more">{{ i18n "posts.see_all" }}</a>
        </div>
        <div class="row row-cols-1 row-cols-md-3 gy-4">
          {{ range first 3 $author.Pages }}
            <div class="col">
              {{ partial "posts/post.html" . }}
            </div>
          {{ end }}
        </div>
      </section>
    {{ end }}

    {{ if $articlesForResearcher }}
      <section class="mb-5">
        <div class="top">
          <h2>{{ i18n "persons.publications" }}</h2>
          <a href="publications/" class="link link--more">{{ i18n "persons.publications" }}</a>
        </div>
        <div class="row row-cols-1 row-cols-md-3 gy-4">
          {{ range first 3 $articlesForResearcher }}
            <div class="col">
              {{ partial "articles/article.html" . }}
            </div>
          {{ end }}
        </div>
      </section>
    {{ end }}

  </div>
{{ end }}
