.pages__section
    [itemprop="articleBody"] + section
        margin-top: $grid-gutter-width * 3
    div + .blocks
        margin-top: 0
    aside
        @extend .sticky
        align-self: flex-start
