.block-gallery
    .gallery
        @extend .row
        > *
            @extend .col-md-6
            @extend .col-lg-4

            // aside + div &
            //     @extend .col-md-6
            //     @extend .col-lg-4

    figure
        > a,
        > picture
            @extend .figure-img
            display: block

        > a
            transition: opacity .3s ease
            &:hover
                opacity: .7

        img
            height: auto
            width: 100%

        figcaption
            @extend .small
