.hero
    align-items: flex-end
    background-color: $site
    color: $white
    display: flex
    min-height: 300px
    margin-bottom: $grid-gutter-width * 1.5
    overflow: hidden
    padding-bottom: $grid-gutter-width * 1.5
    padding-top: $grid-gutter-width * 1.5
    position: relative
    @include media-breakpoint-up(md)
        background-image: url(/assets/images/glyph.svg)
        background-position: right
        background-repeat: no-repeat
        background-size: auto 100%
        min-height: 450px
    &__image
        filter: blur(16px) grayscale(100%)
        height: 100%
        left: 0
        mix-blend-mode: overlay
        object-fit: cover
        opacity: .3
        position: absolute
        top: 0
        width: 100%
        .layout-home &
            filter: none
    &__nav
        align-items: flex-start
        display: flex
        flex-direction: column
        @include media-breakpoint-down(md)
            nav
                margin-left: -$grid-gutter-width/2
                width: calc(100% + #{$grid-gutter-width})
            .btn
                margin-top: $grid-gutter-width
        @include media-breakpoint-up(md)
            align-items: baseline
            flex-direction: row
            justify-content: space-between
    .container
        position: relative
