.link
    font-family: $font-family-sans-serif
    font-size: px2rem(14)
    &--more
        &::before
            background: url(/assets/images/icon-arrow.svg) no-repeat
            content: ''
            display: inline-block
            height: 10px
            margin-right: 5px
            vertical-align: middle
            width: 10px
