.page
    @extend .card
    border: 0

    > div:last-of-type
        @extend .card-body
        padding-left: 0
        padding-right: 0

    .media
        @extend .card-media

    .title
        @extend .card-title
        margin-bottom: .5rem
        .link
            font-size: px2rem(22)
            line-height: px2rem(30)
            text-decoration: none

    .link
        @extend .link-more
        @extend .stretched-link
