.person
    @extend .card
    border: 0

    .avatar
        padding-top: px2rem(76)
        width: px2rem(76)

    > div:last-of-type
        @extend .card-body
        padding-left: 0
        padding-right: 0

    .name
        @extend .card-title
        .link
            font-size: px2rem(18)
            &::after
                content: none

    .name + p:not(.contact)
        margin-bottom: .5rem

    .contact
        @extend .small
        margin-bottom: 0

    .link
        @extend .link-more
        @extend .stretched-link
