.post
    @extend .card
    border: 0

    > div:last-of-type
        @extend .card-body
        padding-left: 0
        padding-right: 0

    .media
        --bs-aspect-ratio: 50%
        @extend .card-media

    .title
        @extend .card-title
        a
            @extend .stretched-link

    .post-categories
        @extend .card-text
        @extend .small
        color: $gray-700

    .link
        @extend .link-more
        @extend .stretched-link
