.toc
    flex-direction: column
    position: sticky
    top: $grid-gutter-width
    .nav-item
        &:not(:last-child)
            margin-bottom: $grid-gutter-width
    .nav-link
        font-size: px2rem(18)
        line-height: px2rem(30)
    .active
        color: var(--color)
