.top
    align-items: baseline
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin-bottom: $spacer * 2
    h2, p
        margin-bottom: 0
    div
        @extend .col-12
        p
            @extend .col-lg-8
