body
    -moz-osx-font-smoothing: grayscale
    -webkit-font-smoothing: antialiased
    font-variant-ligatures: discretionary-ligatures
    text-rendering: optimizelegibility

::selection
    background: rgba($primary, .7)
    color: white
    text-shadow: none

::-moz-selection
    background: rgba($primary, .7)
    color: white
    text-shadow: none

img
    &::selection
        background: transparent
    &::-moz-selection
        background: transparent

*:focus-visible
    outline-color: gray
    outline-offset: 5px
    outline-style: dashed
    outline-width: 1px

@media (prefers-reduced-motion: no-preference)
    *:focus-visible
        transition: outline-offset .3s ease

a
    color: $primary
    text-decoration-color: rgba($primary, 0.3)
    text-decoration-thickness: 1px
    text-underline-offset: 3px
    &:hover
        text-decoration-color: rgba($primary, 1)
        text-decoration-thickness: 1px
    &.icon
        text-decoration: none
    &[target="_blank"]
        &::after
            background: url('/assets/images/icons/icons.svg#link-blank') no-repeat
            content: ''
            display: inline-block
            height: 12px
            margin-left: px2rem(5)
            vertical-align: middle
            width: 12px
    &.icon,
    &[href^="mailto"]
        &::after
            content: none

h1, h2
    a
        text-decoration-thickness: 0
        &:hover
            text-decoration-thickness: 1px

[itemprop="articleBody"]
    overflow-wrap: break-word
    h2
        margin-top: $grid-gutter-width * 3
    // If a h2 directly follows the beginning of the article, no top margin
    > h2:first-child
        margin-top: 0

ul
    padding-left: 15px
