<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "fr" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ partial "head/css.html" }}
    {{ partial "head/seo.html" . }}
    {{ partial "head/rss.html" . }}
  </head>
  {{ $bodyclass := printf "%s__%s" .Type .Kind }}
  {{ if .Params.bodyclass }}
    {{ $bodyclass = printf "%s %s" $bodyclass .Params.bodyclass }}
  {{ end }}
  <body class="{{ $bodyclass }}"{{ if or .IsSection .IsPage }} data-bs-spy="scroll" data-bs-target="#nav-toc" data-bs-offset="5"{{ end }}>
    {{- partial "header/accessibility.html" -}}
    {{- partial "header/header.html" -}}
    <main id="main" role="main" tabindex="-1">
      {{- block "main" . }}{{- end }}
    </main>
    {{- partial "footer/footer.html" . -}}
    {{- partial "footer/cookie-banner.html" . -}}
    {{- partial "footer/js.html" . -}}
    {{- partial "footer/script.html" . -}}
  </body>
</html>
