{{ define "main" }}
  {{- partial "header/hero.html"
        (dict
          "title" .Title
          "context" .
        ) -}}
  <div class="container">
    {{ if .Content }}
      <div class="content">
        <div>
          <p class="lead">
            {{ safeHTML (partial "CorrectPunctuation" .Content) }}
          </p>
        </div>
      </div>
    {{ end }}
    <div class="programs">
      {{ range .Paginator.Pages }}
        <div>
          {{ partial "programs/program.html" . }}
        </div>
      {{ end }}
    </div>
    {{ partial "commons/pagination.html" . }}
  </div>
{{ end }}
