{{ define "main" }}
  {{- partial "header/hero.html"
        (dict
          "title" .Title
          "image" .Params.image
          "context" .
        ) -}}
  <div class="container">
    <div class="posts">
      {{ range $index, $list := .Paginator.Pages }}
        <div>
          {{ $lazy := true }}
          {{ if (eq $index 0) }}
            {{ $lazy = false }}
          {{ end }}
          {{ partial "posts/post.html" . }}
        </div>
      {{ end }}
    </div>
    {{ partial "commons/pagination.html" . }}
  </div>
{{ end }}
