{{ define "main" }}
  {{ partial "posts/hero-single.html" . }}

  <article itemscope itemtype="https://schema.org/NewsArticle">
    <meta itemprop="headline" content="{{ .Title }}">
    <meta itemprop="url" content="{{ .Permalink }}">
    {{ if .Date }}<meta itemprop="datePublished" content="{{ .Date }}">{{ end }}
    {{ if .Summary }}<meta itemprop="description" content="{{ .Summary }}">{{ end }}

    <div class="container">
      <div class="content">
        {{ partial "posts/aside.html" . }}
        <div>
          {{ partial "posts/image.html" .Params.image }}
          <div itemprop="articleBody">
            {{ partial "PrepareHTML" .Content }}
            {{ partial "PrepareHTML" .Params.text }}
          </div>
          {{ partial "posts/prevnext.html" . }}
        </div>
      </div>
    </div>

  </article>
{{ end }}
