{{ define "main" }}
  {{ partial "posts/hero-single.html" . }}

  <article itemscope itemtype="https://schema.org/NewsArticle">
    <meta itemprop="headline" content="{{ partial "PrepareHTML" .Title }}">
    <meta itemprop="url" content="{{ .Permalink }}">
    {{ if .Date }}<meta itemprop="datePublished" content="{{ .Date.Format "2006-01-02T15:04" }}">{{ end }}
    {{ if .Summary }}<meta itemprop="description" content="{{ partial "PrepareHTML" .Summary }}">{{ end }}

    <div class="container">
      <div class="content">
        {{ partial "posts/aside.html" . }}
        <div>
          {{ partial "posts/chapo.html" . }}
          {{ partial "posts/image.html" .Params.image }}
          {{ partial "posts/body.html" . }}
          {{ partial "posts/prevnext.html" . }}
        </div>
      </div>
    </div>

  </article>
{{ end }}
