<div class="gdpr-cookie-consent js-gdpr-cookie-consent">
  <div class="gdpr-cookie-consent__text">
    Ce site utilise des cookies pour améliorer l'expérience de navigation et fournir des fonctionnalités supplémentaires.
    <a href="/gestion-des-cookies">En savoir plus</a>
  </div>
  <div class="gdpr-cookie-consent__buttons">
    <button class="js-gdpr-cookie-consent-btn-ok btn btn-primary me-1">Accepter</button>
    <button class="js-gdpr-cookie-consent-btn-ko btn btn-danger">Refuser</button>
  </div>
</div>
