<div class="gdpr-cookie-consent js-gdpr-cookie-consent">
  <div class="gdpr-cookie-consent__text">
    {{ i18n "cookie_banner.text" }}
    <a href="{{ site.Params.cookie_page | default "https://gdpr.eu/cookies/" }}">{{ i18n "cookie_banner.more" }}</a>
  </div>
  <div class="gdpr-cookie-consent__buttons">
    <button class="js-gdpr-cookie-consent-btn-ok btn btn-primary me-1">{{ i18n "cookie_banner.accept" }}</button>
    <button class="js-gdpr-cookie-consent-btn-ko btn btn-primary">{{ i18n "cookie_banner.refuse" }}</button>
  </div>
</div>
