<div class="content">
  <div>
    {{ partial "footer/logo.html" }}
  </div>
  <div>
    {{ partial "footer/site.html" }}
  </div>
  <div>
    <nav role="navigation" aria-label="{{ i18n "commons.menu.main" }}">
      {{ partial "commons/menu.html"
            (dict
              "items"       site.Data.menus.primary
              "level"       1
              "stop"       1
            )}}
    </nav>
  </div>
</div>

<nav role="navigation" aria-label="{{ i18n "commons.menu.legal" }}">
  {{ partial "commons/menu.html"
        (dict
          "items"       site.Data.menus.legal
          "level"       1
          "class"       "nav-legal"
        )}}
</nav>
