<div class="content">
  <div>
    {{ partial "footer/logo.html" }}
  </div>
  <div>
    {{ partial "footer/site.html" }}
  </div>
</div>

<nav role="navigation" aria-label="{{ i18n "commons.menu.main" }}">
  {{ partial "commons/menu.html"
        (dict
          "items"       site.Data.menus.primary
          "level"       1
          "class"       "nav-levels"
        )}}
</nav>

<div>
  <nav role="navigation" aria-label="{{ i18n "commons.menu.legal" }}">
    {{ partial "commons/menu.html"
          (dict
            "items"       site.Data.menus.legal
            "level"       1
            "class"       "nav-legal"
          )}}
  </nav>
  <nav aria-label="{{ i18n "commons.menu.social" }}">
    {{ partial "commons/menu.html"
          (dict
            "items"       site.Data.menus.social
            "level"       1
            "class"       "nav-social"
          )}}
  </nav>
</div>
