<footer class="footer">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-4">
        <a href="/"><img src="/assets/images/logo.svg" alt="{{site.Title}}" height="42" width="155"></a>
      </div>
      <div class="col-md-8">
        {{ with site.Data.school }}
        <address itemscope itemtype="https://schema.org/CollegeOrUniversity">
          <meta itemprop="logo" content="/assets/images/logo.svg">
          <span itemprop="name">{{ .name }}</span>
          <div itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
            <span itemprop="streetAddress">{{ .address }}</span><br>
            <span itemprop="postalCode">{{ .zipcode }}</span> <span itemprop="addressLocality">{{ .city }}</span><br>
            <span itemprop="addressCountry">{{ .country }}</span>
          </div>
          <span itemprop="telephone">{{ .phone }}</span>
        </address>
        {{ end }}
      </div>
    </div>
    {{ partial "commons/menu.html"
          (dict
            "items"       site.Data.menus.primary
            "level"       1
            "class"       "nav nav--levels grid"
          )}}
    {{ partial "commons/menu.html"
          (dict
            "items"       site.Data.menus.legal
            "level"       1
            "class"       "nav"
          )}}
  </div>
</footer>
