<div class="content">
  <div>
    {{ partial "footer/logo.html" }}
  </div>
  <div>
    {{ partial "footer/site.html" }}
  </div>
  <div>
    {{ if site.Data.menus.primary }}
      <nav role="navigation" aria-label="{{ i18n "commons.menu.main" }}">
        {{ partial "commons/menu.html"
              (dict
                "items"       site.Data.menus.primary
                "level"       1
                "stop"        1
              )}}
      </nav>
    {{ end }}
  </div>
</div>

<div class="complementary">
  {{ if site.Data.menus.legal }}
    {{ partial "commons/menu.html"
          (dict
            "items"       site.Data.menus.legal
            "level"       1
            "class"       "nav-legal"
          )}}
  {{ end }}
  {{ partial "footer/credit.html" }}
  {{ if site.Data.menus.social }}
    {{ partial "commons/menu.html"
          (dict
            "items"       site.Data.menus.social
            "level"       1
            "class"       "nav-social"
          )}}
  {{ end }}
</div>
