@import "site"
/*  Theme & Bootstrap variables
    Get all bootstrap variables in node_modules/bootstrap/scss/_variables.scss

// Bootstrap
$primary: #000000 !default
$secondary: #666666 !default

$border-radius: 0 !default
$border-radius-sm: 0 !default
$border-radius-lg: 0 !default

$breadcrumb-margin-bottom: 0 !default

$modal-backdrop-opacity: .7 !default
$modal-content-border-width: 0 !default
$modal-inner-padding: 1.5rem !default

$pagination-bg: transparent !default
$pagination-disabled-bg: transparent !default


// header banner
$enable-header-sticky: false !default
$header-background-color: white !default
$header-height: 60px !default
$header-height-md: 70px !default
$header-transition: 0.4s !default
$header-zindex: 10 !default

// menu mobile deploy
$menu-background-color: white !default

// hero
$breadcrumb-link-color: white !default
$hero-height: 375px !default
$hero-height-md: 450px !default

// blocks
$block-call-to-action-background: $primary !default
$block-call-to-action-color: white !default

// table
$table-cell-padding-y: 1rem
$table-th-font-weight: bold
$table-border-width: 1px
$table-border-color: rgba(0, 0, 0, 0.5)