{{ range sort .Pages ".Params.position" }}
  <div class="row row-cols-1 row-cols-md-2 mb-5">
    <div class="col-md-8">
      <div class="card card--program">
        <div class="card-body">
          <h2 class="card-title mb-2">
            <a href="{{ .Permalink }}">{{ safeHTML (partial "CorrectPunctuation" .Title) }}</a>
          </h2>
          <p>{{ safeHTML (partial "CorrectPunctuation" .Params.description) }}</p>
        </div>
      </div>
    </div>
    {{ range sort .Pages ".Params.position"  }}
    <div class="col mb-4">
      <div class="card card--program">
        {{ if .Params.image }}
          <div class="row">
            <div class="col-md-6">
              {{ partial "commons/image.html"
                    (dict
                      "image"    .Params.image
                      "class"    "img-fluid"
                      "mobile"   "351x168"
                      "tablet"   "456x219"
                      "desktop"  "856x410"
                      "itemprop" true
                    )}}
            </div>
          </div>
        {{ end }}
        <div class="card-body">
          <p class="card-title ">
            <a href="{{ .Permalink }}" class="link link--more stretched-link">
              {{ safeHTML (partial "CorrectPunctuation" .Title) }}
            </a>
          </p>
          {{ if .Params.description}}
          <p class="card-text">{{ safeHTML (partial "CorrectPunctuation" .Params.description) }}</p>
          {{ end }}
        </div>
      </div>
    </div>
    {{ end }}
  </div>
  <hr class="my-5">
{{ end }}
