<div class="container">
{{ $len := (len .Pages) }}
{{ range $index, $programs := sort .Pages ".Params.position" }}
  <div class="programs">
    <div class="highlighted">
      <div class="program">
        <div>
          <h2 class="title">
            <a href="{{ .Permalink }}">{{ safeHTML (partial "CorrectPunctuation" .Title) }}</a>
          </h2>
          {{ if (partial "GetTextFromHTML" .Params.description) }}
            <p>{{ partial "PrepareHTML" .Params.description }}</p>
          {{ end }}
        </div>
      </div>
    </div>
    {{ range sort .Pages ".Params.position"  }}
    <div>
      <div class="program">
        {{ if .Params.image }}
          <div class="media">
            {{ partial "commons/image.html"
                  (dict
                    "image"    .Params.image
                    "class"    "img-fluid"
                    "mobile"   "351x168"
                    "tablet"   "456x219"
                    "desktop"  "856x410"
                    "itemprop" true
                  )}}
          </div>
        {{ end }}
        <div>
          <p class="title">
            <a href="{{ .Permalink }}" class="link">{{ partial "PrepareHTML" .Title }}</a>
          </p>
          {{ if .Params.description}}
            <p>{{ partial "PrepareHTML" .Params.description }}</p>
          {{ end }}
        </div>
      </div>
    </div>
    {{ end }}
  </div>
  {{ if ne (add $index 1) $len }}<hr>{{ end }}
{{ end }}
</div>
