{{ range . }}
  <h3 class="mb-1">{{ .title }}</h3>
  <div class="row">
    {{ range .persons }}
      {{ $slug := . }}
      {{ with site.GetPage "persons" }}
        {{ with .GetPage $slug }}
          <div class="col-md-6">
            <div class="card">
              <div class="card-title">
                <a href="{{ .Permalink }}">
                  {{ safeHTML .Title }}
                </a>
              </div>
              <p class="small mb-1">
                {{ safeHTML .Params.phone }}
                {{ if .Params.email }}
                <a href="mailto:{{ .Params.email }}" rel="noreferrer" target="_blank">{{ .Params.email }}</a>
                {{ end }}
              </p>
            </div>
          </div>
        {{ end }}
      {{ end }}
    {{ end }}
  </div>
{{ end }}
