{{- $params := .Params -}}
{{- $category := site.GetPage (printf "/categories%s" .Params.category) -}}
{{- $chapters := slice
                "objectives"
                "opportunities"
                "results"
                "informations"
                "accessibility"
                "duration"
                "pricing"
                "content"
                "pedagogy"
                "evaluation"
                "prerequisites"
                "registration"
                "other"
                "contacts"
                "teachers"
                -}}
<article itemscope itemtype="https://schema.org/EducationalOccupationalCredential">
  <meta itemprop="name" content="{{ .Title }}">
  <div class="row">
    <div class="col-md-4 col-lg-3">
      <ul class="nav toc" id="nav-toc">
        {{ range $chapters }}
          {{ $content := index $params . }}
          {{ if in . (slice "contact" "teachers") }}
            $content = "ok"
          {{ end }}
          {{ if $content }}
            <li class="nav-item">
              <a class="nav-link" href="#page-{{ . }}">
                {{ i18n (printf "programs._%s" .) }}
              </a>
            </li>
          {{ end }}
        {{ end }}
        {{ if $category }}
        <li class="nav-item"><a class="nav-link" href="#page-posts">Actualités</a></li>
        {{ end }}
      </ul>
    </div>
    <div class="col-md-8 offset-lg-1">
      {{ if .Params.image }}
        {{ partial "commons/image.html"
              (dict
                "image"    .Params.image
                "class"    "img-fluid mb-4"
                "mobile"   "351x168"
                "tablet"   "456x219"
                "desktop"  "856x410"
                "itemprop" true
              )}}
      {{ end }}
      <div itemprop="articleBody">
        <p class="lead"><em>{{ safeHTML (partial "CorrectPunctuation" .Params.description) }}</em></p>

        {{ if .Pages }}
        <div class="row row-cols-md-2 g-3">
          {{ range sort .Pages ".Params.position" }}
          <div class="col">
            {{ partial "programs/program.html" . }}
          </div>
          {{ end }}
        </div>
        {{ end }}

        {{ range $chapters }}
          {{ $content := index $params . }}
          {{ if $content }}
            <h2 id="page-{{ . }}">{{ i18n (printf "programs._%s" .) }}</h2>
            {{ if eq . "contacts" }}
              {{ safeHTML (partial "CorrectPunctuation" $content) }}
              {{ partial "programs/roles.html" $params.roles }}
            {{ else if eq . "teachers" }}
              {{ partial "programs/teachers.html"
                            (dict
                              "teachers" $params.teachers
                              "descriptions" $params.teachers_description
                            ) }}
            {{ else }}
              {{ safeHTML (partial "CorrectPunctuation" $content) }}
            {{ end }}
          {{ end }}
        {{ end }}

        {{ partial "posts/related.html" $category }}
      </div>
    </div>
  </div>
</article>
