{{- $params := .Params -}}
{{- $category := site.GetPage (printf "/categories%s" .Params.category) -}}
{{- $chapters := slice
                "objectives"
                "opportunities"
                "results"
                "informations"
                "accessibility"
                "duration"
                "pricing"
                "content"
                "pedagogy"
                "evaluation"
                "prerequisites"
                "registration"
                "other"
                "contacts"
                "teachers"
                -}}
{{- $contactsExist := or $params.contacts $params.roles -}}
<article itemscope itemtype="https://schema.org/EducationalOccupationalCredential">
  <meta itemprop="name" content="{{ trim .Title "\n" }}">
  <meta itemprop="url" content="{{ .Permalink }}">

  <div class="container">
    <div class="content">

      <aside>
        {{/* nav-link required for active toggle class */}}
        <ul class="toc" id="nav-toc">
          {{ range $chapters }}
            {{ $content := index $params . }}
            {{ $chapterExists := $content }}
            {{ if eq "contacts" . }}
              {{ $chapterExists = $contactsExist }}
            {{ end }}
            {{ if $chapterExists }}
            <li>
              <a class="nav-link" href="#page-{{ . }}">
                {{ i18n (printf "programs._%s" .) }}
              </a>
            </li>
            {{ end }}
          {{ end }}
          {{ if $category.Pages }}
            <li>
              <a class="nav-link" href="#page-posts">
                {{ i18n "programs.posts" }}
              </a>
            </li>
          {{ end }}
        </ul>
      </aside>
      <div>
        {{ partial "programs/image.html" .Params.image }}

        {{ if .Params.description }}
        <p class="lead" itemprop="abstract">
            {{ safeHTML (partial "CorrectPunctuation" .Params.description) }}
        </p>
        {{ end }}

        {{ if .Pages }}
        <section class="programs">
          {{ range sort .Pages ".Params.position" }}
            <div>
              {{ partial "programs/program.html" . }}
            </div>
          {{ end }}
        </section>
        {{ end }}

        <div itemprop="articleBody">
          {{ range $chapters }}
            {{ $content := index $params . }}
            {{ $chapterExists := $content }}
            {{ if eq "contacts" . }}
              {{ $chapterExists = $contactsExist }}
            {{ end }}
            {{ if $chapterExists }}
              <section>
                <h2 id="page-{{ . }}">{{ i18n (printf "programs._%s" .) }}</h2>
                {{ if eq . "contacts" }}
                  {{ partial "PrepareHTML" $content }}
                  {{ partial "programs/roles.html" $params.roles }}
                {{ else if eq . "teachers" }}
                  {{ partial "programs/teachers.html"
                                (dict
                                  "teachers" $params.teachers
                                  "descriptions" $params.teachers_description
                                ) }}
                {{ else }}
                  {{ partial "PrepareHTML" $content }}
                {{ end }}
              </section>
            {{ end }}
          {{ end }}
        </div>

        {{ partial "posts/related.html" $category }}
      </div>
    </div>
  </div>
</article>
