{{- $params := .Params -}}
{{- $category := site.GetPage (printf "/categories%s" .Params.category) -}}
{{- $chapters := slice
                "objectives"
                "opportunities"
                "results"
                "informations"
                "accessibility"
                "duration"
                "pricing"
                "content"
                "pedagogy"
                "evaluation"
                "prerequisites"
                "registration"
                "other"
                "contacts"
                "teachers"
                -}}
{{- $contactsExist := or $params.contacts $params.roles -}}
<article itemscope itemtype="https://schema.org/EducationalOccupationalCredential">
  <meta itemprop="name" content="{{ trim .Title "\n" }}">
  <meta itemprop="url" content="{{ .Permalink }}">

  <div class="container">
    <div class="content">

      {{ partial "programs/aside.html"
          (dict
              "category" $category
              "chapters" $chapters
              "contactsExist" $contactsExist
              "params" $params
          )
      }}

      <div>
        {{ partial "programs/image.html" .Params.image }}

        {{ partial "programs/abstract.html" .Params.description }}

        {{ partial "programs/programs.html" .Pages }}

        <div itemprop="articleBody">
          {{ range $chapters }}
            {{ $content := index $params . }}
            {{ $chapterExists := $content }}
            {{ if eq "contacts" . }}
              {{ $chapterExists = $contactsExist }}
            {{ end }}
            {{ if $chapterExists }}
              <section>
                <h2 id="page-{{ . }}">{{ i18n (printf "programs._%s" .) }}</h2>
                {{ if eq . "contacts" }}
                  {{ partial "programs/content.html" $content }}
                  {{ partial "programs/roles.html" $params.roles }}
                {{ else if eq . "teachers" }}
                  {{ partial "programs/teachers.html"
                                (dict
                                  "teachers" $params.teachers
                                  "descriptions" $params.teachers_description
                                ) }}
                {{ else }}
                  {{ partial "programs/content.html" $content }}
                {{ end }}
              </section>
            {{ end }}
          {{ end }}
        </div>

        {{ partial "posts/related.html" $category }}
      </div>
    </div>
  </div>
</article>
