<table class="table table-hover">
  <tbody>
    {{ $descriptions := .descriptions }}
    {{ range .teachers }}
      {{ $slug := . }}
      {{ with site.GetPage "teachers" }}
        {{ with .GetPage $slug }}
          <tr>
            <td class="ps-0">
              <a href="{{ .Permalink }}">
                {{ safeHTML .Params.person }}
              </a>
            </td>
            <td class="pe-0 text-end">
              {{ safeHTML (index $descriptions $slug) }}
            </td>
          </tr>
        {{ end }}
      {{ end }}
    {{ end }}
  </tbody>
</table>
