<table class="table table-infos table-hover">
  <tbody>
    {{ $descriptions := .descriptions }}
    {{ range .teachers }}
      {{ $slug := . }}
      {{ with site.GetPage "persons" }}
        {{ with .GetPage $slug }}
          <tr>
            <th>
              <a href="{{ .Permalink }}">
                {{ safeHTML .Title }}
              </a>
            </th>
            <td>
              {{ safeHTML (index $descriptions $slug) }}
            </td>
          </tr>
        {{ end }}
      {{ end }}
    {{ end }}
  </tbody>
</table>
