{{ define "main" }}
  {{ partial "header/hero.html"
        (dict
          "title" .Params.header_text
          "image" .Params.image
          "context" .
        )}}
  <div class="container">

    {{ $content := .Content | plainify }}
    {{ $content = trim $content "\n" }}
    {{ if $content }}
    <section class="content">
      {{- partial "PrepareHTML" .Content -}}
    </section>
    {{ end }}

    {{- range site.Data.menus.primary -}}
      <section>
        {{ partial "home/top.html" . }}

        {{ if eq .kind "news" }}
          {{ partial "home/posts.html" . }}
        {{ else }}
          {{ if .children }}
            {{ partial "home/pages.html" . }}
          {{ end }}
        {{ end }}
      </section>
    {{ end }}

    {{ partial "home/volumes.html" . }}

  </div>
{{ end }}
