<section class="block-partners">
  {{ range . }}
    <h2>{{ partial "PrepareHTML" .title }}</h2>
    <div class="partners">
      {{ range .partners }}
        <div>
          {{ if .url }}
            <a href="{{ .url }}" target="_blank" rel="noreferrer" aria-label="{{ i18n "commons.more_aria" (dict "Title" .name) }}">
          {{ end }}
          {{ if .logo }}
            {{- partial "commons/image.html"
                  (dict
                    "image"    .logo
                    "alt"      .name
                    "mobile"   "351x291"
                    "tablet"   "334x167"
                    "desktop"  "634x317"
                  ) -}}
          {{ else }}
            {{ .name }}
          {{ end }}
          {{ if .url }}
            </a>
          {{ end }}
        </div>
      {{ end }}
    </div>
  {{ end }}
</section>
