<div class="top">
  <h2>
    {{ if ne .kind "blank" }}<a href="{{ .target }}">{{ end }}
      {{ partial "PrepareHTML" .title }}
    {{ if ne .kind "blank" }}</a>{{ end }}
  </h2>
  {{ if or (eq .kind "news") (eq .kind "programs") }}
    <a href="{{ .target }}" class="link" aria-label="{{ i18n "commons.more_aria" (dict "Title" .title) }}" title="{{ i18n "commons.more_aria" (dict "Title" .title) }}">{{ i18n "commons.more" }}</a>
  {{ end }}
  {{ $page := partial "GetPageByUrl" .target }}
  {{with $page}}
    {{ if .Description }}
      <div>
        <p>{{ truncate 120 (safeHTML .Description) }}</p>
      </div>
    {{ end }}
  {{end}}
</div>
