<div class="top">
  <h2>
    {{ if ne .kind "blank" }}<a href="{{ .target }}">{{ end }}
      {{- safeHTML (partial "CorrectPunctuation" .title) -}}
    {{ if ne .kind "blank" }}</a>{{ end }}
  </h2>
  {{ if or (eq .kind "news") (eq .kind "programs") }}
    <span class="link">{{ i18n "commons.more" }}</span>
  {{ end }}
  {{ $page := partial "GetPageByUrl" .target }}
  {{with $page}}
    {{ if (partial "GetTextFromHTML" .Description) }}
      <div>
        <p>{{ truncate 250 (safeHTML .Description) }}</p>
      </div>
    {{ end }}
  {{end}}
</div>
