{{ define "main" }}
  {{- partial "header/hero.html"
        (dict
          "title" .Title
          "image" .Params.image
          "context" .
        ) -}}
<article itemscope itemtype="">
  <meta itemprop="name" content="{{ .Title }}">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-lg-3 mb-2">
        {{- if .Params.image -}}
          {{- partial "commons/image.html"
                (dict
                  "image"    .Params.image
                  "alt"      .Title
                  "mobile"   "327x388"
                  "tablet"   "208x247"
                  "desktop"  "300x356"
                  "class"    "img-fluid"
                ) -}}
        {{- end -}}
      </div>
      <div class="col-md-5">
        <div itemprop="articleBody">
          {{ safeHTML (partial "CorrectPunctuation" .Content) }}
          {{ safeHTML (partial "CorrectPunctuation" .Params.text) }}
        </div>
      </div>
      <div class="col-md-3 offset-lg-1">
        <dl>
          {{ if .Params.issn }}
            <dt>ISSN</dt>
            <dd itemprop="issn">{{ .Params.issn }}</dd>
          {{ end }}

          {{ if .Params.keywords }}
            <dt>Keywords</dt>
            <dd>{{ .Params.keywords }}</dd>
          {{ end }}

          {{ if .Params.date }}
            <dt>Date</dt>
            <dd><time datetime="{{ .Date.Format "2006-01-02T15:04" }}">{{ .Date.Format "January 2, 2006" }}</time></dd>
          {{ end }}
        </dl>
      </div>
    </div>

    <div class="row">
        <div class="col-md-8">
          <h2>Table</h2>
          <ol class="list-unstyled">
            {{ range $index, $s := .Pages }}
              {{ $modalId := "modalID_temp" }}
              <li class="row flex-md-row-reverse mt-4">
                <div class="col-md-4 text-md-end">
                  <small class="text-uppercase">Article</small>
                </div>
                <div class="col-md-8">
                  <h3><a href="{{ .Permalink }}">{{ safeHTML (partial "CorrectPunctuation" .Title) }}</a></h3>
                  <p>
                    {{ range .Params.Researchers }}
                      {{ $slug := . }}
                      {{ $slug }}
                    {{ end }}
                  </p>
                  <div class="d-grid gap-2 d-lg-block">
                    <a class="btn btn-secondary me-lg-1" href="{{ .Permalink }}">Read</a>
                    <button type="button" class="btn btn--eye btn-secondary me-lg-1" data-bs-toggle="modal" data-bs-target="#{{ $modalId }}">Abstract</button>
                    <a href="{{ .Params.pdf }}" class="btn btn--download btn-secondary" download>PDF</a>
                  </div>
                  {{ partial "volumes/modal.html" (dict "modalId" $modalId) }}
                </div>
              </li>
            {{ end }}
          </ol>
        </div>
    </div>

  </div>
</article>

{{ end }}
