{{ define "main" }}
  {{- partial "header/hero.html"
        (dict
          "title" .Title
          "image" .Params.image
          "context" .
        ) -}}
<article itemscope itemtype="https://schema.org/PublicationVolume">
  <meta itemprop="name" content="{{ .Title }}">
  {{- if .Params.image -}}
    {{- $image := partial "GetMedia" .Params.image -}}
    {{- if $image -}}
      {{- $url := $image.url -}}
      <meta itemprop="image" content="{{ $url }}">
    {{- end -}}
  {{- end -}}

  <div class="container">
    <div class="content">
      
      {{ partial "volumes/image.html" . }}

      <div>
        <div itemprop="description">
          {{ partial "PrepareHTML" .Content }}
        </div>
      </div>

      {{ partial "volumes/aside.html" . }}
      {{ partial "volumes/table-contents.html" . }}

    </div>
  </div>
</article>

{{ end }}
