{{ define "main" }}
  {{- partial "header/hero.html"
        (dict
          "title" .Title
          "image" .Params.image
          "context" .
        ) -}}
<article itemscope itemtype="https://schema.org/PublicationVolume">
  <meta itemprop="name" content="{{ .Title }}">
  {{- $image := partial "GetMedia" .Params.Image -}}
  {{- if $image -}}
    {{- $url := $image.url -}}
    <meta itemprop="image" content="{{ $url }}">
  {{- end -}}

  <div class="container">
    <div class="content">
      <div>
        {{- if .Params.image -}}
          {{- partial "commons/image.html"
                (dict
                  "image"    .Params.image
                  "alt"      .Title
                  "mobile"   "327x388"
                  "tablet"   "208x247"
                  "desktop"  "300x356"
                  "class"    "img-fluid"
                ) -}}
        {{- end -}}
      </div>
      <div>
        <div itemprop="description">
          {{ safeHTML (partial "CorrectPunctuation" .Content) }}
        </div>
      </div>
      <aside>
        <dl>
          {{ if .Params.keywords }}
            <dt>{{ i18n "volumes.keywords" }}</dt>
            <dd itemprop="keywords">{{ delimit .Params.Keywords " " }}</dd>
          {{ end }}

          {{ if .Params.date }}
            <dt>{{ i18n "commons.date" }}</dt>
            <dd><time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02T15:04" }}">{{ .Date.Format "January 2, 2006" }}</time></dd>
          {{ end }}
        </dl>
      </aside>

      <div>
        <h2>{{ i18n "volumes.table_contents" }}</h2>
        <ol class="volume-table">
          {{ range $index, $articles := .Pages }}
            {{ $modalId := print "modalID_" $index }}
            <li itemprop="hasPart" itemscope itemtype="https://schema.org/ScholarlyArticle">
              <div>
                <span itemprop="articleSection">{{ i18n "volumes.article.singular_name" }}</span>
              </div>
              <div>
                <h3>
                  <a href="{{ .Permalink }}" itemprop="url">
                    <span itemprop="name">{{ safeHTML (partial "CorrectPunctuation" .Title) }}</span>
                  </a>
                </h3>
                <p>
                  {{ range .Params.Researchers }}
                    {{ $author := site.GetPage (printf "/persons/%s" .) }}
                    <span itemprop="author" itemscope itemtype="https://schema.org/Person">
                      <a href="{{ $author.Permalink }}" itemprop="url">
                        <span itemprop="name">{{ trim $author.Title "\n" }}</span>
                      </a>
                    </span>
                  {{ end }}
                </p>
                <div role="group">
                  <a href="{{ .Permalink }}" itemprop="url">{{ i18n "commons.read" }}</a>
                  <button type="button" data-bs-toggle="modal" data-bs-target="#{{ $modalId }}">{{ i18n "volumes.abstract" }}</button>
                  {{ if .Params.pdf }}
                    {{- $pdf := partial "GetMedia" .Params.pdf -}}
                    {{- $pdf_size := div $pdf.size 1000 }}
                    <a href="{{ $pdf.url }}" download>
                      {{ i18n "commons.pdf_with_size" (dict "Size" $pdf_size) }}
                    </a>
                  {{ end }}
                </div>
                {{ partial "volumes/modal.html"
                      (dict
                        "modalId" $modalId
                        "title" .Title
                        "abstract" .Params.abstract
                      ) }}
              </div>
            </li>
          {{ end }}
        </ol>
      </div>
    </div>

  </div>
</article>

{{ end }}
