<nav aria-label="{{ i18n "commons.breadcrumb" }}">
  {{- $path := strings.TrimSuffix "/" .RelPermalink }}
  <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
    {{ template "breadcrumbOptimized" (dict "p1" . "p2" . "path" $path ) }}
  </ol>
</nav>

{{ define "breadcrumbOptimized" }}
  {{- if .p1.Parent -}}
    {{ $path := strings.TrimSuffix "/" .path }}
    {{ $split := path.Split $path }}
    {{/*
      {{ .p1.Parent.RelPermalink }} <br> {{ $split.Dir }} <br>
    */}}
    {{ if eq .p1.Parent.RelPermalink $split.Dir }}
      {{/* Normal case, parent matches permalink<br><br> */}}
      {{- template "breadcrumbOptimized" (dict "p1" .p1.Parent "p2" .p2 "path" $split.Dir )  -}}
    {{ else }}
      {{/* Dissonant case, the supposed parent does not have the correct path, so we do an expensive search<br><br> */}}
      {{- $page := partial "GetPageByUrl" $split.Dir -}}
      {{ if $page }}
        {{- template "breadcrumbOptimized" (dict "p1" $page "p2" .p2 "path" $split.Dir )  -}}
      {{ else }}
        {{- template "breadcrumbOptimized" (dict "p1" .p1.Parent "p2" .p2 "path" $split.Dir )  -}}
      {{ end }}
    {{ end }}
  {{- else if not .p1.IsNode }}
    {{- template "breadcrumbOptimized" (dict "p1" .p1.Site.Home "p2" .p2 "path" $split.Dir )  -}}
    {{- template "breadcrumbLink" (dict "page" .p1.Site.Home )  -}}
  {{- end -}}
  {{- template "breadcrumbLink" (dict "page" .p1 "active" (eq .p1 .p2) )  -}}
{{ end }}

{{ define "breadcrumbLink" }}
  {{/* The pages root is not supposed to show, it's confusing with the home */}}
  {{- if not (eq .page.RelPermalink "/pages/") -}}
    {{- $title := .page.Params.breadcrumb_title -}}
    {{- if not $title -}}{{- $title = .page.Title -}}{{- end }}
    {{- $title = chomp $title -}}
    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"
        {{ if .active -}}
          class="breadcrumb-item active" aria-current="page"
        {{- else -}}
          class="breadcrumb-item"
        {{- end -}}>
      {{- if .active -}}
        {{- partial "PrepareHTML" $title -}}
      {{- else -}}
        <a href="{{ .page.Permalink }}">{{- $title -}}</a>
      {{- end -}}
    </li>
  {{- end -}}
{{ end }}