<header role="banner">
  {{/* navbar class is required for dropdown */}}
  <nav class="navbar" role="navigation" aria-label="{{ i18n "commons.menu.main" }}">
    <div class="container">
      {{ partial "header/logo.html" }}
      {{ if isset site.Data.menus "primary"}}
        {{ partial "header/button.html" }}
        <div class="menu" id="navigation" data-bs-scroll="true">
          <div class="offcanvas-header">
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#navigation" aria-label="{{ i18n "commons.close" }}"></button>
          </div>
          <div class="offcanvas-body">
            {{ partial "commons/menu.html"
                  (dict
                    "items" site.Data.menus.primary
                    "dropdown" true
                    "level" 1
                  )}}
          </div>
        </div>
      {{ end }}
    </div>
  </nav>
</header>
