{{ define "main" }}
  {{- partial "header/hero.html"
        (dict
          "title" .Title
          "image" .Params.image
          "context" .
        ) -}}
<article itemscope itemtype="https://schema.org/ScholarlyArticle">
  <meta itemprop="name" content="{{ .Title }}">

  <div class="container">
    <div class="row mb-5">
      <div class="col-md-8">
        <section class="mb-5">
          <p itemprop="abstract">{{ safeHTML (partial "CorrectPunctuation" .Params.Abstract) }}</p>
        </section>
        <section class="mb-5">
          <h2>{{ i18n "volumes.authors" }}</h2>
          <div class="row">

            {{ range .Params.Researchers }}
              {{ $author := site.GetPage (printf "/persons/%s" .) }}
              <div class="col-md-6 mb-3" itemprop="author" itemscope itemtype="https://schema.org/Person">
                <p class="mb-0">
                  <a href="{{ $author.Permalink }}" itemprop="url">
                    <span itemprop="name">{{ $author.Title }}</span>
                  </a>
                </p>
                <p class="small" itemprop="description">Biography…</p>
              </div>
            {{ end }}

          </div>
        </section>
        <section class="mb-5" id="full-text">
          <h2>{{ i18n "volumes.full_text" }}</h2>
          <div class="articleBody">
            {{ safeHTML (partial "CorrectPunctuation" .Content) | markdownify }}
          </div>
        </section>
        {{ if isset .Params "references" }}
          <section class="mb-5">
            <h2>{{ i18n "volumes.references" }}</h2>
            <p>
              {{ .Params.References }}
            </p>
          </section>
        {{ end }}
      </div>
      <div class="col-md-3 offset-md-1">
        <dl>
          <dd>
            {{ if isset .Params "pdf" }}
              <a href="{{ .Params.pdf }}" class="btn btn--download btn-secondary mb-1" download>{{ i18n "commons.download.pdf" }}</a><br>
            {{ end }}
            <a href="#full-text" class="btn btn--eye btn-secondary">{{ i18n "commons.read_online" }}</a>
          </dd>

          {{ if isset .Params "type" }}
            <dt>{{ i18n "volumes.nature" }}</dt>
            <dd>{{ safeHTML (partial "CorrectPunctuation" .Params.Type) }}</dd>
          {{ end }}

          {{ if isset .Params "keywords" }}
            <dt>{{ i18n "volumes.keywords" }}</dt>
            <dd itemprop="keywords">{{ delimit .Params.Keywords " " }}</dd>
          {{ end }}

          {{ if isset .Params "lang" }}
            <dt>{{ i18n "commons.language" }}</dt>
            <dd itemprop="inLanguage" content="{{ .Params.Lang_iso }}">{{ .Params.Lang }}</dd>
          {{ end }}

          {{ range .GetTerms "volumes" }}
            <dt>{{ i18n "volumes.volume" }}</dt>
            <dd itemprop="isPartOf" itemscope itemtype="https://schema.org/PublicationVolume">
              <a href="{{ .Permalink }}" itemprop="url">
                <span itemprop="name">{{ .Title }}</span>
              </a>
            </dd>
          {{ end }}

          {{ if isset .Params "publication" }}
            <dt>{{ i18n "commons.date" }}</dt>
            <dd>
              <time itemprop="datePublished" datetime="{{ .Params.Publication | time.Format "2006-01-02T15:04" }}">{{ .Params.Publication | time.Format ":date_long" }}</time>
            </dd>
          {{ end }}
        </dl>
      </div>
    </div>

  </div>
</article>

{{ end }}
