{{ define "main" }}
  {{- partial "header/hero.html"
        (dict
          "title" .Title
          "image" .Params.image
          "context" .
        ) -}}
<article itemscope itemtype="">
  <meta itemprop="name" content="{{ .Title }}">
  <div class="container">

    <div class="row mb-5">
      <div class="col-md-8">
        <section class="mb-5">
          <p>{{ safeHTML (partial "CorrectPunctuation" .Params.Abstract) }}</p>
        </section>
        <section class="mb-5">
          <h2>Authors</h2>
          <div class="row">

            {{ range .Params.Researchers }}
              {{ $author := site.GetPage (printf "/persons/%s" .) }}

              <div class="col-md-6 mb-3">
                <p class="mb-0">
                  <a href="{{ $author.Permalink }}" itemprop="author">
                    {{ $author.Title }}
                  </a>
                </p>
                <p class="small">Biography…</p>
              </div>
            {{ end }}

          </div>
        </section>
        <section class="mb-5" id="full-text">
          <h2>Full text</h2>
          {{ safeHTML (partial "CorrectPunctuation" .Content) | markdownify }}
        </section>
        {{ if isset .Params "references" }}
          <section class="mb-5">
            <h2>References</h2>
            <p>
              {{ .Params.References }}
            </p>
          </section>
        {{ end }}
      </div>
      <div class="col-md-3 offset-md-1">
        <dl>
          <dd>
            {{ if isset .Params "pdf" }}
              <a href="{{ .Params.pdf }}" target="_blank" class="btn btn--download btn-secondary mb-1" download>Download PDF</a><br>
            {{ end }}
            <a href="#full-text" class="btn btn--eye btn-secondary">Read online</a>
          </dd>

          {{ if isset .Params "type" }}
            <dt>Nature</dt>
            <dd>{{ safeHTML (partial "CorrectPunctuation" .Params.Type) }}</dd>
          {{ end }}

          {{ if isset .Params "keywords" }}
            <dt>Mot-clés</dt>
            <dd itemprop="keywords">{{ delimit .Params.Keywords " " }}</dd>
          {{ end }}

          {{ if isset .Params "lang" }}
            <dt>Langue</dt>
            <dd itemprop="inLanguage" content="{{ .Params.Lang_iso }}">{{ .Params.Lang }}</dd>
          {{ end }}

          {{ range .GetTerms "volumes" }}
            <dt>Volume</dt>
            <dd itemprop="isPartOf" itemscope itemtype="https://schema.org/PublicationVolume">
              <a href="{{ .Permalink }}" itemprop="name">{{ .Title }}</a>
            </dd>
          {{ end }}

          {{ if isset .Params "publication" }}
            <dt>Date</dt>
            <dd>
              <time itemprop="datePublished" datetime="{{ .Params.Publication | time.Format "2006-01-02T15:04" }}">{{ .Params.Publication | time.Format ":date_long" }}</time>
            </dd>
          {{ end }}
        </dl>
      </div>
    </div>

  </div>
</article>

{{ end }}
