.person
    margin-bottom: 30px
    &__image
        height: 90px
        img, &__placeholder
            border-radius: 100%
            height: 76px
            margin-bottom: 15px
            margin-left: -3px
            width: 76px
        &__placeholder
            background: #EEEEEE
